<!-- Barre de navigation -->
<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-logo">Mon Ap nnp</a>
    <ul class="navbar-links">
      <li><a routerLink="/about">À propos</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/faq">FAQ</a></li>
      <li><a routerLink="/blog">Blog</a></li>
    </ul>
  </div>
</nav>

<!-- Dashboard -->
<div class="dashboard-container">
  <!-- Section Ajout de tâche -->
  <div class="add-task">
    <h3>Ajouter une Nouvelle Tâche</h3>
    <div>
      <label for="taskTitle">Titre :</label>
      <input id="taskTitle" type="text" (input)="onTitleChange($event)" placeholder="Titre de la tâche" />
    </div>
    <div>
      <label for="taskDesc">Description :</label>
      <textarea id="taskDesc" (input)="onDescriptionChange($event)" placeholder="Description de la tâche"></textarea>
    </div>
    <div>
      <label for="taskLabel">Étiquette :</label>
      <select id="taskLabel" (change)="onStatusChange($event)">
        <option value="red">Rouge</option>
        <option value="blue">Bleu</option>
        <option value="green">Vert</option>
      </select>
    </div>
    <div>
      <label for="taskDueDate">Date d'échéance :</label>
      <input id="taskDueDate" type="date" (input)="onEndDateChange($event)" />
    </div>
    <button id="addTaskButton" (click)="addTask()">Ajouter</button>
  </div>

  <!-- Liste des tâches -->
  <div class="task-list">
    <div class="task-columns">
      <!-- Colonne "À Faire" -->
      <div class="task-column" id="toDoColumn">
        <h4>À Faire</h4>
        <div class="task-items-container"></div>
      </div>

      <!-- Colonne "En Cours" -->
      <div class="task-column" id="inProgressColumn">
        <h4>En Cours</h4>
        <div class="task-items-container"></div>
      </div>

      <!-- Colonne "Terminé" -->
      <div class="task-column" id="doneColumn">
        <h4>Terminé</h4>
        <div class="task-items-container"></div>
      </div>
    </div>
  </div>
</div>
